body{
	font-family: 'Montserrat', sans-serif;

}
.start {
	background-color:#93278f;
	height: 100vh;
	display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
}

.logo img {
 width: 50%;
 margin-left: 25%;
}

.logo h2, .logo h3, .logo h4 {
	color:white;
	font-weight: 300;
	text-align: center;
}

.logo h4 {
	color:white;
	font-weight: 300;
	text-align: center;
}
#register{
	text-align: center;
	color:white;
}